<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NamasteNooks</title>
</head>
<body>

    <h3>
        Listing Details:
    </h3>
    
    <ul>
        <li>
            <strong>Title:</strong>
            <%= listing.title %>
        </li>
        <li>
            <strong>Description:</strong>
            <%= listing.description %>
        <li>
            <strong>Price:</strong>
          रु  <%= listing.price.toLocaleString("en-IN") %>
        </li>
        <li>
            <strong>Location:</strong>
            <%= listing.location %>
        </li>
    
        <li>
            <strong>Country:</strong>
            <%= listing.country %>
        </li>
    </ul>

    <a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
<br><br>
<form method="POST" action="/listings/<%= listing._id%>?_method=DELETE">
    <button>
        Delete
    </button>
</form>
</body>
</html>