<% layout('layouts/boilerplate') %>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <strong>
        <%= listing.title %></strong>
        <br>
        <br>
    </div>

    <div class="card col-8 offset-3 show-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="Hotel_image">
        <div class="card-body">
            <p class="card-text">
                 <br><br>
                <strong>Description:</strong>
                <%= listing.description %> <br><br>
                <strong>Price:</strong>
                रु  <%= listing.price.toLocaleString("en-IN") %> <br><br>
                <strong>Location:</strong>
                <%= listing.location %> <br><br>
                <strong>Country:</strong>
                <%= listing.country %> <br><br>

            </p>
        </div>
    </div>
    <br>
    <div class="btns">

        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>
        <form method="POST" action="/listings/<%= listing._id%>?_method=DELETE">
            <button class="btn btn-dark offset-5">
                Delete
            </button>
            
        </form>
        
    </div>

    <div class="col-8 offset-3 mb-3">
<hr>
<h4>
    Leave a Review
</h4>
<!-- <form action="/listings/<%#= listing._id %>/reviews" method="POST"> -->
    <form action="/listings/<%= listing._id %>/reviews" method="POST">


    <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]"class="form-range">
    </div>
    <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea class="form-control" id="comment" name="review[comment]" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
</form>
    </div>
    
</div>
